
#generic_contact_form_container textarea{
    height: 100px;
}

#generic_contact_form_container .user_data_management_agreement label{
    font-size: .7em;
}

#generic_contact_form_container #phone_number_container{
    border:1px solid #1a547a;
}