
#mortage_calculator_container .tit_calculate{
    padding:20px;
}

#mortage_calculator_container .col{
    padding-top: 5px;
    padding-bottom: 5px;
}

#mortage_calculator_container .finservice_btn{
    margin-left: 8px;
    margin-top: 25px;
    width: 229px;
    height: 183px;    display: block;
}

#mortage_calculator_container .finservice_btn:hover{
    background-position: 0px 0px;
}

#mortage_calculator_container #finservice_btn_1{
    background: url("../images/finservice/home_bottom_1.jpg");
    background-position: 0px 183px;
}
#mortage_calculator_container #finservice_btn_1:hover{
    background-position: 0px 0px;
}



#mortage_calculator_container #finservice_btn_2{
    background: url("../images/finservice/home_bottom_2.jpg");
    background-position: 0px 183px;
}
#mortage_calculator_container #finservice_btn_2:hover{
    background-position: 0px 0px;
}


#mortage_calculator_container #finservice_btn_3{
    background: url("../images/finservice/home_bottom_3.jpg");
    background-position: 0px 183px;
}
#mortage_calculator_container #finservice_btn_3:hover{
    background-position: 0px 0px;
}

#mortage_calculator_container #finservice_btn_4{
    background: url("../images/finservice/home_bottom_4.jpg");
    background-position: 0px 183px;
}
#mortage_calculator_container #finservice_btn_4:hover{
    background-position: 0px 0px;
}


#mortage_calculator_container #txt_mortageWidget_finalRate{

    font-size: 22px;
    font-weight: bold;
    color:#01a161;
}