.research_container{padding-bottom:70px;padding-top:50px;}
.research_container .tab-content{padding:0px;color:#1a5479;}
.research_container .searchmodule{background-color: transparent}
.research_container .tabbed_widget{background-color:rgba(255, 255, 255, 0.95);-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;}
.research_container #tabbed_widget  .nav li a{background-color:#1a5479;color:#FFFFFF!important;font-weight: 600!important;-webkit-border-top-left-radius: 5px;  -webkit-border-top-right-radius: 5px;-moz-border-radius-topleft: 5px;-moz-border-radius-topright: 5px;   border-top-left-radius: 5px;border-top-right-radius: 5px;}
.research_container #tabbed_widget  .nav li a img{vertical-align: middle;}
/*.research_container #tabbed_widget .nav-tabs > li > a:hover{background-color:#eb212e;}*/
.research_container #tabbed_widget .nav-tabs > li > a:active,.research_container #tabbed_widget .nav-tabs > li > a:focus, #tabbed_widget .nav-tabs > li.active > a, .research_container #tabbed_widget .nav-tabs > li.active > a:hover, .research_container #tabbed_widget .nav-tabs > li.active > a:focus{
    background-color:#fefefd; color:#1a5479!important;
}
/*.research_container .tab-pane .dropdown-toggle{background-color: transparent!important;border:1px solid #1a5479;background-image: none;-webkit-box-shadow: none;-moz-box-shadow: none;box-shadow: none;color:#1a5479!important;}*/

.research_container #advanced_search,#toggleSearchDetails{padding-left:10px;padding-right:10px;}
/*.research_container #advanced_search label{color:#1a5479 !important;}*/

.research_container .subtitle_bar h3{color:#1a5479;}
.research_container hr{display: block;border-top: 1px solid #1a5479;}
.research_container .tab-pane #advanced_search input[type="checkbox"]{margin:0px;}

.research_container #search_details {display: none;}
.research_container #search_placeHolder{display:none;}

.navbar.navbar-default.fhmm.affix-top{
    z-index: 11;
}