.HIDDEN{display:none;}
.DISPL_NONE{display:none;}
.DISPL_INLINE{display:inline;}
.DISPL_BLOCK{display:block;}
.OPACITY-0{opacity:0;}
.PADDING-0{padding:0!important;}
h1,h2,h3{font-weight: bold}

/* TEXT FORMAT */
.JUSTIFIED{text-align: justify;}

/*MARGIN*/
.MARGIN_5{margin: 5px;}
.MARGIN_TOP_5{margin-top: 5px;}
.MARGIN_RIGHT_5{margin-right: 5px;}
.MARGIN_BOTTOM_5{margin-bottom: 5px;}
.MARGIN_LEFT_5{margin-left: 5px;}
.MARGIN_10{margin: 10px;}
.MARGIN_TOP_10{margin-top: 10px;}
.MARGIN_RIGHT_10{margin-right: 10px;}
.MARGIN_BOTTOM_10{margin-bottom: 10px;}
.MARGIN_LEFT_10{margin-left: 10px;}
.MARGIN_20{margin: 20px;}
.MARGIN_TOP_20{margin-top: 20px;}
.MARGIN_RIGHT_20{margin-right: 20px;}
.MARGIN_BOTTOM_20{margin-bottom: 20px;}
.MARGIN_LEFT_20{margin-left: 20px;}


/*WIDTH*/
.WIDTH_100{width:100px;}


.COLOR_RED{color:#eb212e!important;}
.BG_COLOR_RED{background-color: #eb212e;}

.POINTER:hover{cursor:pointer;}

V_ALIGN_MIDDLE{vertical-align: middle;}





/*LOADING AND HOVER BACKGROUNDS*/

.LOADING_GIF_150{
    position: absolute;
    top: 50%;
    left: 50%;
    width:150px;
    height:150px;
    margin:0 auto;
}

.BG_HOVER_BLACK{
    position: absolute;
    top: 0px;
    left: 0px;
    width:100%;
    height:100%;
    background-image: url("../images/bg_repeats/bg_repeat_black.png");
    background-repeat: repeat;
}
