.HIDDEN{display:none;}
.DISPL_NONE{display:none;}
.DISPL_INLINE{display:inline;}
.DISPL_BLOCK{display:block;}
.OPACITY-0{opacity:0;}
.PADDING-0{padding:0!important;}
.COLOR_RED{
    color:#eb212e!important;
}
.BG_COLOR_RED{
    background-color: #eb212e;
}
.POINTER:hover{
    cursor:pointer;
}
V_ALIGN_MIDDLE{
    vertical-align: middle;
}



/*LOADING AND HOVER BACKGROUNDS*/

.LOADING_GIF_150{
    position: absolute;
    top: 50%;
    left: 50%;
    width:150px;
    height:150px;
    margin:0 auto;
}

.BG_HOVER_BLACK{
    position: absolute;
    top: 0px;
    left: 0px;
    width:100%;
    height:100%;
    background-image: url("../images/bg_repeats/bg_repeat_black.png");
    background-repeat: repeat;
}
