.HIDDEN{display:none;}
.DISPL_NONE{display:none;}
.DISPL_INLINE{display:inline;}
.DISPL_BLOCK{display:block;}
.FLOAT_LEFT{float:left;}
.CLEAR_LEFT{clear:left;}
.FLOAT_RIGHT{float:right;}
.CLEAR_RIGHT{clear:right;}
.OPACITY-0{opacity:0;}
.HR{border-bottom: 1px solid #F2F2F2;}

h1,h2,h3{font-weight: bold}

/* TEXT FORMAT */
.JUSTIFIED{text-align: justify;}

/*MARGIN*/
.MARGIN_0_AUTO{margin: 0 auto;}
.MARGIN_0{margin: 0px;}
.MARGIN_5{margin: 5px;}
.MARGIN_TOP_5{margin-top: 5px;}
.MARGIN_RIGHT_5{margin-right: 5px;}
.MARGIN_BOTTOM_5{margin-bottom: 5px;}
.MARGIN_LEFT_5{margin-left: 5px;}
.MARGIN_10{margin: 10px;}
.MARGIN_TOP_10{margin-top: 10px;}
.MARGIN_RIGHT_10{margin-right: 10px;}
.MARGIN_BOTTOM_10{margin-bottom: 10px;}
.MARGIN_LEFT_10{margin-left: 10px;}
.MARGIN_20{margin: 20px;}
.MARGIN_TOP_20{margin-top: 20px;}
.MARGIN_RIGHT_20{margin-right: 20px;}
.MARGIN_BOTTOM_20{margin-bottom: 20px;}
.MARGIN_LEFT_20{margin-left: 20px;}
.MARGIN_30{margin: 30px;}
.MARGIN_TOP_30{margin-top: 30px;}
.MARGIN_RIGHT_30{margin-right: 30px;}
.MARGIN_BOTTOM_30{margin-bottom: 30px;}
.MARGIN_LEFT_30{margin-left: 30px;}


/*PADDING*/
.PADDING-0{padding:0!important;}
.PADDING-5{padding:5px!important;}
.PADDING-10{padding:10px!important;}
.PADDING-20{padding:20px!important;}
.PADDING-30{padding:30px!important;}
/*WIDTH*/
.WIDTH_100{width:100px;}

/*TEXXT ALIGNMENT*/
.TXT_ALIGN_CENTER{text-align: center;}
.TXT_ALIGN_RIGHT{text-align: right;}
.TXT_ALIGN_LEFT{text-align: left;}

/*FONT FAMILY*/
.FONT_LATO {font-family: 'Lato', Arial, Helvetica, sans-serif;}

/*FONT SIZES*/
.FONT_15{font-size: 15px !important;}
.FONT_16{font-size: 16px !important;}
.FONT_17{font-size: 17px !important;}
.FONT_18{font-size: 18px !important;}
.FONT_20{font-size: 20px !important;}
.FONT_22{font-size: 22px !important;}
.FONT_25{font-size: 25px !important;}

/*FONT WEIGHTS*/
.FONT_BOLD{font-weight: bold;}


/*FONT COLORS*/
.COLOR_BLUE{color:#1a547a!important;}
.COLOR_RED{color:#eb212e!important;}
.COLOR_BLACK{color:#000000!important;}
.COLOR_WITHE{color:#FFFFFF!important}
.COLOR_GREY{color:#F2F2F2!important}



/*BACKGROUND COLORS*/
.BG_COLOR_BLUE{background-color:#1a547a!important;}
.BG_COLOR_RED{background-color: #eb212e!important;}
.BG_COLOR_WITHE{background-color: #FFFFFF!important;}
.BG_COLOR_GREY{background-color: #F2F2F2!important;}

/*BORDERS */
.LIGHT-GREY-BORDER{border:1px solid #F0F0F0;
    -moz-box-box-shadow:2px 2px 1px  RGBa(0,0,0, 0.035);
    -webkit-box-shadow:2px 2px 1px  RGBa(0,0,0, 0.035);
    box-shadow:2px 2px 1px  RGBa(0,0,0, 0.035);
}
.BORDER_ROUND_5{ -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;}
.BORDER_ROUND_10{ -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 20px;}
.BORDER_ROUND_15{ -webkit-border-radius: 15px; -moz-border-radius: 15px; border-radius: 15px;}
.BORDER_ROUND_18{ -webkit-border-radius: 18px; -moz-border-radius: 18px; border-radius: 18px;}
.BORDER_ROUND_20{ -webkit-border-radius: 20px; -moz-border-radius: 20px; border-radius: 20px;}





/*TITLES*/
h3{font-size: 18px;color: #777;}


.POINTER:hover{cursor:pointer;}
.V_ALIGN_MIDDLE{vertical-align: middle;}





/*LOADING AND HOVER BACKGROUNDS*/

.LOADING_GIF_150{
    position: absolute;
    top: 50%;
    left: 50%;
    width:150px;
    height:150px;
    margin:0 auto;
}

.BG_HOVER_BLACK{
    position: absolute;
    top: 0px;
    left: 0px;
    width:100%;
    height:100%;
    background-image: url("../images/bg_repeats/bg_repeat_black.png");
    background-repeat: repeat;
}
