.idea/
app/classes/DbManager.php
app/logs/
public/images/images_properties/
app/include/Widgets/maps.php
pages/test/
pages/finanziaria/test.php
app/classes/dbConfig.ini
libs/frontend/ckEditor/js/ckeditor_4.5.7.js
libs/backend/PHPMailer/examples/
