.idea/
app/logs/
app/include/Widgets/maps.php
app/classes/Configs/
public/images/images_portals/
public/images/images_properties/
public/portals/
public/documents/
pages/test/
pages/finanziaria/test.php
libs/frontend/ckEditor/js/ckeditor_4.5.7.js
libs/backend/PHPMailer/examples/
