/*#DT_ADS tbody tr td:nth-child(10) {
    text-align: center;
}
#DT_ADS tbody tr td:nth-child(11) {
    text-align: center;
}
#DT_ADS tbody tr td:nth-child(12) {
    text-align: center;
}*/
/*#DT_ADS tbody tr td {
    text-align: center;
}*/
body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: #888;
    /*line-height: 30px;*/
}

.ALIGN_CENTER{
    text-align:center !important;
}
.ALIGN_LEFT{
    text-align:left !important;
}
.ALIGN_RIGHT{
    text-align:right !important;
}
.main-header .logo .logo-lg {
    font-size: 19px;
}

.LOGO_TECNOIMM{
    margin:0 auto;
}

.BTN_TECNOIMM{

}

.HIDDEN{display:none;}

.POINTER:hover{
    cursor: pointer;
}

.HR{
    display: block;
    border: 0;
    border-top: 2px solid #d5d5d5;
    margin: 10px 11px 10px 11px;
    padding: 0;
}