/*#DT_ADS tbody tr td:nth-child(10) {
    text-align: center;
}
#DT_ADS tbody tr td:nth-child(11) {
    text-align: center;
}
#DT_ADS tbody tr td:nth-child(12) {
    text-align: center;
}*/
/*#DT_ADS tbody tr td {
    text-align: center;
}*/
body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: #888;
    /*line-height: 30px;*/
}

.ALIGN_CENTER{
    text-align:center !important;
}
.ALIGN_LEFT{
    text-align:left !important;
}
.ALIGN_RIGHT{
    text-align:right !important;
}
.BORDER_TOP{
    border-top: 1px solid #f4f4f4;
}
.BORDER_BOTTOM{
    border-bottom: 1px solid #f4f4f4;
}
.main-header .logo .logo-lg {
    font-size: 19px;
}

.LOGO_TECNOIMM{
    margin:0 auto;
}


.HIDDEN{display:none;}

.POINTER:hover{
    cursor: pointer;
}

.HR{
    display: block;
    border: 0;
    border-top: 2px solid #d5d5d5;
    margin: 10px 11px 10px 11px;
    padding: 0;
}

.HR_RED{
    display: block;
    border: 0;
    border-top: 2px solid #eb212e;
    margin: 10px 11px 10px 11px;
    padding: 0;
}

.HR_BLUE{
    display: block;
    border: 0;
    border-top: 2px solid #1a547a;
    margin: 10px 11px 10px 11px;
    padding: 0;
}

.HR_BOLD{
    border-width:4px;
}








/* TECNOIMMOBILI BUTTONS */

.btn-tecnoimm-blue {
    width:100%;
    background: #1a547a !important;
    border-color: #1a547a !important;
    color: #ffffff !important;
}

.btn-tecnoimm-blue:hover{
    background-color:#327cad !important;
}

.btn-tecnoimm-blue:active,
.btn-tecnoimm-blue.active {
    background-color: #327cad \9 !important;
}

.btn-tecnoimm-red {
    width:100%;
    background: #eb212e !important;
    border-color: #eb212e !important;
    color: #ffffff !important;
}

.btn-tecnoimm-red:hover{
    background-color:#af0813 !important;
}

.btn-tecnoimm-red:active,
.btn-tecnoimm-red.active {
    background-color: #af0813 \9 !important;
}


/* END TECNOIMMOBILI BUTTONS */



/* FOOTER OVERRIDE PADDING (to avoid scrollbar)*/
.main-footer {
    padding-top: 14px;
    padding-bottom: 14px;
}
/*TEXTAREA BOTTOM WITESPACE PROBLEM FIX*/
/*
.wrapper {
    width: 100%;
    min-height: 100%;
    height: auto !important;
    position: absolute;
}
.content-wrapper{
    bottom: 50px;
    position: fixed;
    width: 100%;
    top: 50px;
    padding-bottom: 50px; 
}
.main-footer{
    bottom: 0px;
    position: absolute;
    width: 100%;
}*/