/*#DT_ADS tbody tr td:nth-child(10) {
    text-align: center;
}
#DT_ADS tbody tr td:nth-child(11) {
    text-align: center;
}
#DT_ADS tbody tr td:nth-child(12) {
    text-align: center;
}*/
/*#DT_ADS tbody tr td {
    text-align: center;
}*/
body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: #888;
    /*line-height: 30px;*/
}

.ALING_CENTER{
	text-align:center;
}
.main-header .logo .logo-lg {
    font-size: 19px;
}

.LOGO_TECNOIMM{
    margin:0 auto;
}

.BTN_TECNOIMM{

}

.HIDDEN{display:none;}